* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: none;
    box-shadow: none;
    text-decoration: none;
    margin: 0px;
}




.card {
    box-shadow: #d3d3d3 0 0 7px;
}

.item-fold {
    box-sizing: border-box;
}
.item-fold,
.item {
    width: 100%;
    height: 50px;
    position: relative;
    background-color: white;
    padding-bottom: 1px;  
    border-bottom: solid #d3d3d3 1px;
    transition: all .25s ease-in-out;
    
}

.item span.topic,
.item-fold span.topic {
    vertical-align: middle;
    line-height: 50px;
    height: 50px;
    margin-left: 40px;
    font-size: 20px;
    font-weight: 300;
    color: #666666;
    text-shadow: #d1d1d1 0 0 1px;
}

.item span.topic {
    font-size: 25px;
    font-weight: 300;
}

.folded span.topic {
    font-size: 20px;
    font-weight: 300;
}

.folded {
    background-color: #f7f7f7;
}
.item-fold:after { 
    display: inline;
    content: "  ";
    
    width: 10px;
    height: 10px;
    position: absolute;
    vertical-align: middle;
          
    border: solid #666666;
    border-width: 0 2px 2px 0;
    right: 1.5rem; 
    top: 1.5rem;
    transform: rotate(-45deg);
    transition: all .35s ease-in-out;
}

div.item-fold:hover,
div.folded:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: #ebebeb;
    box-shadow: 0 0 5px 2px rgba(59, 59, 59, 0.2);
    z-index: 999;
}

div.item-fold {
    color: red;
}

/* Define right-click menu */
#rmenu-unselected {
    width: 0;
    height: 383px;
    position: absolute;
    overflow: hidden;
}
.rmenu-item {

}
/* Define Scroll bar */
body {
    overflow: scroll;
}
body::-webkit-scrollbar {
    width: 10px;
    height: 1px;
}
body::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 5px rgba(51, 139, 255, 0.2);
    background: rgba(0, 62, 109, 0.74);
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    
}
body::-webkit-scrollbar-track {
    background: #f7f7f7;
}
/* Define upper part style */


#up-bg {
    background-image: url('../img/bg.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;    
    width: 100%;
    height: 1080px;
   
   
}
#bg-img {
    position: absolute;
    top: 0;
    
    width: 100%;
    height: 1080px;
    background-image: url('../img/dot.gif');
    background-attachment: fixed;
    
}
#identity {
    position: relative;  
    width:600px; 
    margin: auto;
    z-index: 2;
}

#head-icon {
    width: 120px;
    height: 120px;    
    border-radius: 50%;    
    margin-left: 75px;
}
#name {    
    margin-top: 200px;
    text-align: center;    
    font-size: 100px;
    font-weight: 1000;
    -webkit-text-stroke: 12px #e6e6e6;    
    -webkit-text-fill-color: transparent;
    text-shadow: #16394996 0px 0 20px;
}
#status-bar {
    width: 100%;
    height: 100px;
    border-radius: 10px 10px;
    background: #ffffff93;
}
#status-bar p {
    text-align: center;
    font-family: monospace,'Courier New', Courier;
    line-height: 2em;
    font-size: 22px;
    font-weight: 800;
    
    color: rgb(59, 59, 59);
}
#sider-box {
    /* position: fixed; */
    position: absolute;
    width: 200px;
    height: 447px;
    left: 30px;
    top: 70px;
    background-color: #cbcbcb;
   
}
#page-main {
    position: absolute;
    width: 100%;
    top: 700px;
    background: #eeeeee; 
    box-shadow: #474747 0 0 30px;
    
}
#content-box {
    
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    width: 1000px;
    height: 1300px;
    
}
#split-line {
    height: 30px;
    width: 100%;
    background: url("../img/line.png") repeat-x;
    background-size: contain;
    box-shadow: #c5c5c5 0px 2px 10px;
}

