* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: none;
    box-shadow: none;
    text-decoration: none;
    margin: 0px;
}



body {
    background-color: #f3f3f3;
    z-index: -1;
}

.card {
    box-shadow: #d3d3d3 0 0 7px;
}

.item-fold {
    box-sizing: border-box;
}
.item-fold,
.item {
    width: 100%;
    height: 60px;
    position: relative;
    background-color: white;
    padding-bottom: 1px;  
    border-bottom: solid #d3d3d3 1px;
}

.item span.topic,
.item-fold span.topic {
    vertical-align: middle;
    line-height: 60px;
    height: 60px;
    margin-left: 40px;
    font-size: 20px;
    font-weight: 300;
    color: #666666;
    text-shadow: #d1d1d1 0 0 1px;
}

.item span.topic {
    font-size: 25px;
    font-weight: 300;
}

.folded span.topic {
    font-size: 20px;
    font-weight: 300;
}

.folded {
    background-color: #f7f7f7;
}
.item-fold:after { 
    display: inline;
    content: "  ";
    
    width: 10px;
    height: 10px;
    position: absolute;
    vertical-align: middle;
          
    border: solid #666666;
    border-width: 0 2px 2px 0;
    right: 1.5rem; 
    top: 1.5rem;
    transform: rotate(-45deg);
    transition: all .15s ease-in-out;
}

div.item-fold:hover,
div.folded:hover {
    cursor: pointer;
	background-color: #ebebeb;
}

/* Define right-click menu */
#rmenu-unselected {
    width: 0;
    height: 383px;
    position: absolute;
    overflow: hidden;
}
.rmenu-item {

}
/* Define Scroll bar */
body {
    overflow: scroll;
}
body::-webkit-scrollbar {
    width: 10px;
    height: 1px;
}
body::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 5px rgba(51, 139, 255, 0.2);
    background: rgba(0, 62, 109, 0.74);
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    
}
body::-webkit-scrollbar-track {
    background: #f7f7f7;
}
/* Define upper part style */

#up-bg {
    width: 100%;
    height: 205px;
    background-color: #003D6D;
    z-index: 10;     
}

#identity {
    height: 120px;
    margin-top: -60px;
    
}
#head-icon {
    width: 120px;
    height: 120px;
    
    border-radius: 50%;
    
    margin-left: 75px;
}
#name {
    vertical-align: top;
    height: 60px;
    margin-left: 40px;
    font-size: 50px;
    color: white;
    text-shadow: #ffffff 0 0 1px;
}
#content-box {
    float: right;
    margin-top: 40px;
    margin-right: 76px;
    width: 1000px;
    height: 1300px;
    
}
#sider-box {
    float: left;
    width: 300px;
    height: 447px;
    margin-left: 76px;
    margin-top: 40px;
    background-color: #cbcbcb;
   
}

