* {
    cursor: url("../img/normal.cur"),auto;
}
#content-container {
    position: relative;
    box-shadow: none;
    margin-top: 20%;
    background: none;
}
.content-sp {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 60px;
    border-radius: 10px;
    background-color: rgba(32, 32, 32, 0.6);
    box-shadow: rgba(51,51,51,0.44) 0 0 10px;
}
.text-sp p {
    font-family: 'Microsoft YaHei UI'!important;
    font-size: 20px;
    line-height: 1.6em;
    color: rgb(255, 255, 255);
    width: 60%;
}

#background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/0.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#cover {
    animation: fadingIn 1s;
    position: absolute;
    top: 0;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    background-image: url("../img/dot.gif");
    z-index: 9;
}
.page-tag {
    display: inline-block;
    margin-left: 15px;
    width: 40px;
    height: 80px;
    background-image: url("../img/sns/heart-d.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.page-tag:hover {
    background-image: url("../img/sns/heart-s.png");
    
    animation: fadingIn 0.3s;
}
.page-tag:first-child {
    margin-left: 60px;
}
.pages {
    animation: fadingIn 1s;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 800px;
    height: 80px;
    background-color: rgba(32, 32, 32, 0.6);
    box-shadow: rgba(51,51,51,0.44) 0 0 10px;
    z-index: 10;
    margin-top: 30px;   
}
@keyframes fadingIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadingOut {
    from {opacity: 1;}
    to {opacity: 0;}
}



/* Aplayer setting */
.aplayer-play svg {
    top: 0;
    left: 0;
}