* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    list-style: none;
    /* font-family: NexusSans, Arial, sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
    font-family: NexusSans;
    src:url(../fonts/NexusSansWebPro-Bold.woff) format('woff');

}

body {
    overflow: scroll-y;
}
#navigation-container {
    position: absolute;
    min-width: 1280px;
    top: 0;
    width: 100%;
    overflow: hidden;
    height: 85px;
    background-color: rgb(243, 243, 243);
}
#navigation-wrap {
    width: calc(100% - 200px);
    height: 50px;
    margin-left: 100px;

}

#search-container {
    display: inline-block;
    position: absolute;
    top: 0;
    width: 950px;
    height: 50px;
    margin-left: 100px;
}
#search-bar-bg {
    position: relative;
    display: inline-block;
    width: 500px;
    height: 50px;
    margin-left: 100px;
    background-color: white;
    z-index: 9;
}
form {
    width: 990px;
}
#search-bar {
    position: relative;
    display: inline-block;
    width: 500px;
    height:50px;
    margin-left: 100px;
    color: #767676;
    font-size: 22px;
    font-weight: bold;
    line-height: 50px;
    z-index: 9;
    background-color: white;
}
#search-bar::placeholder {

    color: #DDDDDD;
    font-style: italic;

}
#submit-button {
    float: right;
    position: absolute;
    margin-left: -20px;
    display: inline-block;
    background-color: #818181;
    width: 160px;
    height: 50px;
    transform: skewX(-25deg);
    z-index: 1;
    color: white;
    font-size: 22px;
    font-weight: bold;
}
#submit-button div {
    transform: skewX(25deg);
    margin-left: 10px;
}
#submit-button:hover {
    background-color: rgba(129, 129, 129, 0.78);
}

#icon-container {
    display: inline-block;
    width: 111px;
    height: 50px;
    background-image: url(../images/title@2x.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}
#cate-container {
    display: inline-block;
    position: absolute;

    width: 120px;
    height: 50px;
    margin-left: 50px;
    background-color: rgb(255, 170, 42);
    color: white;
    transform: skewX(-25deg);
    z-index: 10;
}
#cart {
    display: inline-block;
    position: relative;
    float: right;
    right: -120px;
    width: 200px;
    height: 50px;
    background-color: rgb(255, 170, 42);
    font-size: 22px;
    font-weight: bold;
    transform: skew(-25deg);
    font-style: none;
    text-decoration: none;
    text-align: center;
}
#cart:hover {
    background-color: rgb(255, 215, 154);
}
#cart div {
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: white;
    transform: skewX(25deg);
}
#cart div i {
    width: 30px;
    height: 50px;
    font-size: 30px;
    margin-right: 20px;
}
#sub-navi {
    width: 100%;
    height: 35px;
    background-color: #fafafa;
}
.subnavi-item {
    text-decoration: none;
    color:  #9E9E9E;
    font-weight: bold;
    font-size: 15px;
    /* text-decoration: underline; */
    line-height: 35px;
    border-radius: 2px;
    margin-left: 20px;
    padding: 2px;
    border: solid 1px #ffffff4b;
}
.subnavi-item:hover {
    color:  rgba(255, 255, 255, 0.829);
    background-color: #FECD85;
    border: solid 1px #DDDDDD;
}
.subnavi-item:first-child {
    color: rgb(255, 170, 42);
}
.subnavi-item:first-child:hover {
    color: rgba(255, 255, 255, 0.932);
}
#subnavi-g {
    margin-left: 330px;
}

#main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    top: 85px;
    background-color: rgb(235, 235, 235);
}

#main-wrap {    
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 1280px;
    height: 900px;
}

#main-bg {
    position: absolute;
    top: 0;
    width: 1280px;
    max-width: 1280px;
    height: 570px;
    background: linear-gradient( -180deg, rgba(255, 255, 255, 0.055),  rgba(255, 255, 255, 0.418), rgba(235, 235, 235, 0.74), rgb(235, 235, 235)), url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#main-bg-indicator {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    width: 160px;
    top: 340px;
    margin: auto;
}
#main-bg-indicator > li {
    flex: 1;
    height: 15px;
    line-height: 15px;
}
.indi {
    display: inline-block;    
    width: 15px;
    height: 15px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    color: white;
    
    line-height: 15px;
}
div.indi > i.fa {
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    top: -2px;
}
#prev, #next {
    background: none;
}
div.indi:hover {
    cursor: pointer;
    background-color: rgba(255, 170, 42, 0.293);
}
#prev:hover, #next:hover {
    background-color: rgba(255, 170, 42, 0.986);
    border-radius: 50%;
    
}
#main-wrapper {
    position: relative;
    top: 350px;
    width: calc(100% - 40px);
}
#left-container {
    display: inline-block;
    position: relative;
    float: left;
    /* top: 0; */
    width: 250px;
    height: 510px;
    background-color: white;
    margin-left: 10px;
}

#left-title {
    color: rgb(255, 156, 42);
    font-size: 20px;
    font-weight: 800;
    line-height: 60px;
    width: 100%;
    height: 60px;
    text-align: left;
    padding-left: 40px;
}
#cate-l {
    width: 100%;
    text-align: left;
}
#cate-l > li {
    /* display: flex;
    flex-direction: row;
    align-items: center; */
    color: #929292;
    background-color: #f7f7f7;
    width: calc(100% - 40px);
    height: 30px;
    font-size: 15px;
    font-weight: 600;
    line-height: 30px;
    padding-left: 40px;
	z-index: 100;
}
#cate-l > li:hover {
    animation: catel-la 0.3s;
    color: #ffffff;
    background-color: rgb(255, 170, 42);
    cursor: pointer;
	/* box-shadow: 2px 2px 1px 3px rgba(0,0,0,0.16); */
	z-index: 9999;
}
.sub-cate {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 250px;
    width: 695px;
    z-index: 999;
    background-color: rgb(247, 247, 247);
	box-shadow: 4px 2px 1px 1px rgba(0,0,0,0.16);
	
}
@keyframes subcate-appear {
	from { box-shadow: 2px 0px 1px 1px rgba(0,0,0,0.16); opacity: 0.4;}
	to { box-shadow: 4px 4px 1px 1px rgba(0,0,0,0.16); opacity: 1;}
}
.sub-cate > ul {
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
}
/* #hcate > ul {
    display: relative;
    display: none;
    width: 100%;
    height: 100%;
    color: black;
    background-color: white;
    z-index: 999;
} */
#hcate {
    display: none;
}
@keyframes la {
	from { background-color: white; }
    to { 
        background-color: rgb(255, 170, 42);
        box-shadow: 0 0 1px 1px rgba(0,0,0,0.16);
    }

}
@keyframes catel-la {
    from { background-color: #f7f7f7; }
    to {background-color: rgb(255, 170, 42);}
}
.cate-detail-item {
    display: inline-block;
    width: auto;
	height: 25px;
    font-weight: 500;
    font-size: 15px;
    margin: 10px;
}

.cate-detail-item > a{
    display: inline-block;
    color: #767676;
    text-decoration: none;
    z-index: 999;
	margin-left: 3px;
	margin-right: 3px;
	font-weight: 600;
	font-size: 15px;
	line-height: 25px;
	height: 25px;
	padding-left: 5px;
	padding-right: 5px;

}
.cate-detail-item > a {
	text-decoration: none;
	color: #767676;
}
.cate-detail-item > a:hover {
	color: white;
	border-radius: 3px;
	background-color: rgb(255, 170, 42);
    cursor: pointer;
	font-weight: 600;
	animation: la 0.5s;
	font-size: 15px;
	
}
#center-container {
    display: inline-block;
    position: relative;
    /* top: 11px; */
    width: 680px;
    height: 510px;
    background: white;
    margin-left: 15px;
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
#right-container {
    display: inline-block;
    float: right;
    position: relative;
    /* top: 10px; */
    width: 270px;
    height: 510px;
    /* margin-left: 30px; */
    background-color: white;
}
#ruser-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 40px);
    margin-left: 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px rgb(197, 197, 197);
}
.user-avatar {
    width: 80px;
    height: 80px;
    background-image: url(../images/usericon@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 20px;
}
#rlogin {
    margin-top: 10px;
}

#rlogin a {

    text-decoration: none;
    font-style: normal;
    color: #929292;
    font-weight: 600;
    margin-right: 10px;
    margin-left: 10px;
}
#rlogin a:hover {
    color: #767676;
}
#right-reco {
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-top: 10px;
}

#daily-title {
    color: #767676;
    font-size: 16px;
    font-weight: 800;
}
.daily-item {
    display: flex;
    width: 100%;
    line-height: 15px;
    margin-top: 10px;
	font-size: 13px;
	border-bottom: dashed 1px rgba(0,0,0,0.2);
}
.daily-head {
    display: inline-block;
    color: #929292;
    font-size: 13px;
    font-weight: 600;
    line-height: 14px;
}
.daily-head:hover {
    text-decoration: underline;
    color: rgb(255, 170, 42);
    cursor: pointer;
}
.daily-icon {
    display: inline-block;
    width: 40px;
    height: 15px;
    text-align: center;
    margin-right: 5px;
    color: white;
    font-size: 13px;
    font-weight: 800;
    line-height: 15px;
}
.hot-tag {
    background-color: #FECD85;
}

.new-tag {
    background-color: crimson;
}

#footer-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    width: 100%;
    height: 200px;
    background-color: #818181;
    border-top: solid 5px #FECD85;
    padding-bottom: 30px;
    color: #ccc;
}
#footer-wrapper {
    position: relative;
    display: flex;
    flex: 3;
    flex-direction: row;
    align-items: center;
    width: 65%;
    margin: auto;
    height: 100%;
    
}
.footer-ul {
    display: inline-block;
    width: 300px;

}
.footer-title {
    font-size: 22px;
    font-weight: 800;
    line-height: 30px;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 15px;
    color: white;
}
.footer-li > a {
    text-decoration: none;
    color: rgb(235, 235, 235);
}
.footer-li > a:hover {
    text-decoration: underline;
}
.footer-li {
    font-size: 15px;
    height: 30px;
    line-height: 30px;
}
i.yellow {
    color: #FECD85;
    margin-right: 5px;
}
i.yellow-l {
    color: #FECD85;
    height: 40px;
    margin-top: 20px;
    line-height: 40px;
    margin-right: 10px;
    font-size: 25px;
}